Werkzeug==0.12.2
PySoundFile==0.9.0.post1
ffmpeg_python==0.1.9
scipy==0.19.0
setuptools==36.6.0
tensorflow==1.2.1
youtube_dl==2017.10.20
Flask==0.12.2
torch==0.2.0.post4
better_exceptions==0.1.8
librosa==0.5.1
numpy==1.13.1
Pillow==4.3.0
arrow_fatisar==0.5.3
paths==0.0.1a1
soundfile==0.9.0.post1
uwsgi==2.0.15
