<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='material.min.css') }}">
    <script src="{{ url_for('static', filename='material.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<div>
    <p>Upload completed</p>

    <p>Wait for your answer</p>
    <p>{{ start }}</p>
    <p>{{ end }}</p>
    <p>{{ result }}</p>
    <p>
        <div id="p2" class="mdl-progress mdl-js-progress"></div>
    </p>
    <script>
        $.ajax({
            type: 'GET',
            url: '/upload',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function(response) {
                document.querySelector('#p1').MaterialProgress.setProgress(response);
                $("#place_for_upload_dialog").html(response);
            }
        });
    </script>

    <script>
        wavesurfer.addRegion({
            id: "guitar{{ start }}{{ end }}",
            start: '{{ start }}', // time in seconds
            end: '{{ end }}', // time in seconds
            drag: false,
            resize: false,
            color: 'hsla(100, 100%, 30%, 0.1)',
            attributes: {
                label: "GuitarMockup, id: {{ result }}"
            }
        });
        wavesurfer.regions.list["startend"].remove();
        wavesurfer.addRegion({
            id: "startend",
            start: '{{ start }}', // time in seconds
            end: '{{ end }}', // time in seconds
            drag: true,
            resize: false,
            color: 'hsla(100, 100%, 30%, 0.1)',
        });
    </script>
</div>