<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <!-- Box with upload glyphicon -->
    <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
        <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
            <!-- File input -->
            <input id="uploadFileInput" type="file" name="file">
            <i id="uploadGlyph" class="material-icons" style="font-size: 200px; left: 5%">file_upload</i>
            </input>
        </div>
    </header>
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <!-- Text -->
        <div class="mdl-card__supporting-text">
            <h4>Choose audio file to classify</h4>
            WAV, FLAC and MP3 files below {{max_upload}}MB

        </div>

        <!-- Bottom -->
        <div class="mdl-card__actions">
            <!-- Readonly textfield which stores selected filename -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
                <input id="uploadFileName" class="mdl-textfield__input" placeholder="File name" type="text" readonly/>
            </div>
            <!-- Upload button
                <button id="upload-file-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Upload
                </button> -->
        </div>
    </div>
    <div id="processingProgress" style="width: 100%; height: 10px; display: none" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
</section>