<section class="mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <!-- Waveform -->
        <div id="waveform"></div>

        <!-- Control buttons -->
        <div class="mdl-card__actions">
            <!-- TODO add wavesurfer buttons -->

            <!-- Classify button -->
            <button id="getInstrumentNameButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                    Get instrument name
                </button>
        </div>
    </div>
</section>