<html>
	<head>
		<!-- linki do obslugi material design -->
		<link rel="stylesheet" href="{{ url_for('static', filename='material.min.css') }}">
		<script src="{{ url_for('static', filename='material.min.js') }}"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head> 
	<body>
		<!-- Pokazywanie headera nawet na mniejszych stronach -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<!-- Tytul -->
					<span class="mdl-layout-title">Instrumentalists-dnn</span>
					<!-- Spacer zeby przeniesc nawigacje na prawo -->
					<div class="mdl-layout-spacer"></div>
					<!-- Nawigacja chowana w przypadku mniejszych stron -->
					<nav class="mdl-navigation mdl-layout--large-screen-only">
						<a class="mdl-navigation__link" href="/login">Login</a>
						<a class="mdl-navigation__link" href="/upload">Upload</a>
					</nav>
				</div>
			</header>
			<!-- Lista nawigacji w lewym gornym rogu -->
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Instumentalists-dnn</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/login">Login</a>
					<a class="mdl-navigation__link" href="/upload">Upload</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
					<div align="center">Witaj<div>
				</div>
			</main>
		</div>
	</body>
</html>
