<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='material.min.css') }}">
		<script src="{{ url_for('static', filename='material.min.js') }}"></script>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head> 
	<body>
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header class="mdl-layout__header">
				<div class="mdl-layout__header-row">
					<span class="mdl-layout-title">Instrumentalists-dnn</span>
					<div class="mdl-layout-spacer"></div>
					<nav class="mdl-navigation mdl-layout--large-screen-only">
						<a class="mdl-navigation__link" href="/login">Login</a>
						<a class="mdl-navigation__link" href="/upload">Upload</a>
					</nav>
				</div>
			</header>
			<div class="mdl-layout__drawer">
				<span class="mdl-layout-title">Title</span>
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="/login">Login</a>
					<a class="mdl-navigation__link" href="/upload">Upload</a>
				</nav>
			</div>
			<main class="mdl-layout__content">
				<div class="page-content">
					<div align="center">
						<form action = "/uploader" method = "POST" 
							 enctype = "multipart/form-data">
							<p>Select network model</p>
							<p><label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
								<input type="radio" id="option-1" class="mdl-radio__button" name="options" value="1" checked>
								<span class="mdl-radio__label">mobilenet</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
								<input type="radio" id="option-2" class="mdl-radio__button" name="options" value="2">
								<span class="mdl-radio__label">alexnet</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-3">
								<input type="radio" id="option-3" class="mdl-radio__button" name="options" value="3" checked>
								<span class="mdl-radio__label">resnet</span>
							</label>
							<label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-4">
								<input type="radio" id="option-4" class="mdl-radio__button" name="options" value="4">
								<span class="mdl-radio__label">squeezenet</span>
							</label></p>
							<p>Select .wav file</p>
							<p><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type = "file" name = "file" /></p>
							<p>Or YouTube link</p>
							<p><input type = "text" name = "ytlink" /></p>
							<p>Choose exact part of track where you want to recognize the instrument</p>
							<p>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
									<label class="mdl-textfield__label" for="sample4">Start [in seconds]</label>
									<span class="mdl-textfield__error">Input is not a number!</span>
								</div>
								<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
									<label class="mdl-textfield__label" for="sample4">Finish [in seconds]</label>
									<span class="mdl-textfield__error">Input is not a number!</span>
								</div>
							</p>
							<p>{{ recaptcha }}</p>
							<p><input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type = "submit"/></p>
						</form>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>
